.promo {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background: url('../img/bg.jpg') center (center / cover) no-repeat;

    .navbar {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 933px 160px 47px;
        grid-template-rows: 50px;
        column-gap: 50px;
        &__list {
            padding-top: 10px;
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            grid-template-columns: repeat(5, 140px);
            &-item {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: white;
                    border-right: solid 2px #fff;
                    padding-right: 30px;
                    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
                }
                a.last {
                    border-right: none;
                }
                a.third {
                    padding-right: 40px;
                }
            }
        }
        &__phone {
            padding-top: 10px;
            display: grid;
            grid-column: 2/3;
            grid-row: 1/2;
            justify-content: flex-end;
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
        &__humburger {
            position: relative;
            margin-left: 85px;
            display: grid;
            grid-column: 3/4;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            cursor: pointer;
            span {
                display: block;
                width: 25px;
                height: 2px;
                background: #fff;
            }
            span.long {
                width: 30px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 60px;
                height: 60px;
                background: $main-color;
                border-radius: 100%;
                z-index: -1;
                top: -9%;
                left: -33px;
            }
            z-index: 2;
            &:hover {
                opacity: 0.7;
                transition: all 0.6s;
            }
        }
    }

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        margin-top: 155px;
        &__frame {
            width: 1290px;
            height: 500px;
            border: solid 1px #fff;
            z-index: 1;
        }
        &__header {
            position: relative;
            font-weight: bold;
            font-size: 82px;
            color: #fff;
            margin-top: 130px;
            margin-left: 15px;
            &:before {
                content: '';
                position: absolute;
                width: 130px;
                height: 130px;
                background: $main-color;
                border-radius: 100%;
                z-index: -5;
                top: -5%;
                left: -55px;
            }
            z-index: 3;
        }
        &__descr {
            margin-top: 20px;
            margin-left: 15px;
            font-size: 25px;
            font-weight: normal;
            color: #ffffff;
            width: 400px;
        }

        &__button {
            margin-top: 80px;
            width: 220px;
            height: 60px;
            background-color: $second-color;
            border-radius: 3px;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            &:hover {
                opacity: 0.7;
                transition: all 0.6s;
            }
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                text-align: center;
                padding-top: 18px;
            }
        }
    }
}
