.promo {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background: url('../img/bg.jpg') center (center / cover) no-repeat;

    .navbar {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 300px 700px 160px 90px;
        grid-template-rows: 50px;
        column-gap: 10px;
        &__logo {
            display: grid;
            width: 60px;
            height: auto;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &__list {
            padding-top: 10px;
            display: grid;
            grid-column: 2/3;
            grid-row: 1/2;
            grid-template-columns: repeat(5, 140px);
            &-item {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: white;
                    border-right: solid 2px #fff;
                    padding-right: 30px;
                    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
                }
                a.last {
                    border-right: none;
                }
                a.third {
                    padding-right: 40px;
                }
            }
        }
        &__phone {
            padding-top: 10px;
            display: grid;
            grid-column: 3/4;
            grid-row: 1/2;
            justify-content: flex-end;
            color: white;
        }
        &__humburger {
            display: grid;
            grid-column: 4/5;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            cursor: pointer;
            span {
                display: block;
                width: 30px;
                height: 3px;
                background: #fff;
            }
            span.long {
                width: 36px;
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        &__header {
            font-weight: bold;
            font-size: 82px;
            color: #ffffff;
            margin-top: 350px;
        }
        &__descr {
            font-size: 25px;
            font-weight: normal;
            color: #ffffff;
            width: 400px;
        }
        &__button {
            margin-top: 50px;
            width: 250px;
            height: 60px;
            background-color: $second-color;
            border-radius: 3px;
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            cursor: pointer;
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                text-align: center;
                padding-top: 18px;
            }
        }
    }
}
